<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Rogerio Fabricio Developer">

  <title>ZAFIRO APP - Propostas</title>

  <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/dropbox-clone.css" rel="stylesheet">
  <link href="assets/css/fab.css" rel="stylesheet">

  <style>

  </style>
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm rounded">
    <h1 class="ml-5 text-light">ZAFIRO</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <div class="row">
        <div class="col-8 mx-5">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" id="btn-home">Home <span class="sr-only" >(página atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" id="btn-clientes">Clientes <span class="sr-only" >(página atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" id="btn-propostas">Propostas <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" id="btn-produtos">Produtos <span class="sr-only">(página atual)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container bg-light" style="min-height: 750px;">

    <!-- Customers Panel -->
    <div id="customers-panel">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/person-outline.svg" alt="" width="32px" class="pb-2"/> Clientes</h1>

          <!-- Form Seach Customer -->
          <form class="mt-4" id="form-panel-seach-customer">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="customer-name">Cliente</label>
                <input type="text" class="form-control mb-2" id="customer-name" name="customerName" placeholder="Cliente">
              </div>
              <div class="col-auto">
                <button type="submit"  id="btn-seach-customer" class="btn btn-dark mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Customer End -->

          <!-- Table Customers -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col" class="text-center">Celular</th>
                <th scope="col">Cidade</th>
              </tr>
            </thead>
            <tbody id="tbody-customer">
              <tr>
                <td></td>
                <td></td>
                <td class="text-center"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <!-- Table Customers End -->

        </div>
      </div>
      <!-- Float Button -->
      <div class="zoom">
        <a class="zoom-fab zoom-btn-large bg-dark text-light" id="zoom-btn-add-customer">+</a>  
      </div>

    </div>
    <!-- Customers Panel End -->

    <!-- Proposals Panel -->
    <div id="proposals-panel">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/reader-outline.svg" alt="" width="32px" class="pb-2"/> Propostas</h1>

          <!-- Form Seach Proposal -->
          <form class="mt-4" id="form-panel-seach-proposal">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="Proposal-name">Proposta</label>
                <input type="text" class="form-control mb-2" id="proposal-name" name="proposalName" placeholder="Proposta">
              </div>
              <div class="col-auto">
                <button type="submit" id="btn-seach-proposal" class="btn btn-dark mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Proposal End -->

          <!-- Table Proposals -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Projeto</th>
                <th scope="col">Cliente</th>
                <th scope="col" class="text-center">Criado em</th>
                <th scope="col" class="text-center">Total</th>
              </tr>
            </thead>
            <tbody id="tbody-proposal">
              <tr>
                <td></td>
                <td></td>
                <td class="text-center"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <!-- Table Proposals End -->

        </div>
      </div>

      <!-- Float Button -->
      <div class="zoom">
        <a class="zoom-fab zoom-btn-large bg-dark text-light" id="zoom-btn-add-proposal">+</a>  
      </div>

    </div>
    <!-- Proposals Panel End-->

    <!-- Products Panel -->
    <div id="products-panel">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/cube-outline.svg" alt="" width="32px" class="pb-2"/> Produtos</h1>

          <!-- Form Seach Product -->
          <form class="mt-4" id="form-panel-seach-product">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="product-name">Produto</label>
                <input type="text" class="form-control mb-2" id="product-name" name="productName" placeholder="Produto">
              </div>
              <div class="col-auto">
                <button type="submit" id="btn-seach-product" class="btn btn-dark mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Product End -->

          <!-- Table Proucts -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Código Z</th>
                <th scope="col">Descrição</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">123456</th>
                <td>Módulo Dimmer 8ch</td>
                <td>Absolute</td>
                <td>R$ 2.000</td>
              </tr>
              <tr>
                <th scope="row">2123412</th>
                <td>Receiver NR-TX777</td>
                <td>Onkyo</td>
                <td>R$ 8.000</td>
              </tr>
              <tr>
                <th scope="row">3212342</th>
                <td>Host S2000</td>
                <td>Savant</td>
                <td>R$ 4.900</td>
              </tr>
            </tbody>
          </table>
          <!-- Table Products End -->

        </div>
      </div>

      <!-- Float Button -->
      <div class="zoom">
        <a class="zoom-fab zoom-btn-large bg-dark text-light" id="zoom-btn-add-product">+</a>  
      </div>

    </div>
    <!-- Products Panel End-->

    <!-- Solution Panel -->
    <div id="solutions-panel">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/reader-outline.svg" alt="" width="32px" class="pb-2" /> Soluções | <span id="title-panel-solution"> </span></h1>
    
          <!-- Inicio do FORM -->
    
          <section id="content-section">
            <div class="row">
              <div class="col-12">
    
                <!-- Begin Page Content -->
                <div class="container-fluid">
    
                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-solution">
                      <div class="form-row mt-5">
                        <div class="form-group col-12 text-right">
                          <span id="title-proposal-total" class="py-3 px-5 bg-dark mt-4 text-white rounded">Proposta R$ 0,00</span>
                        </div>
                      </div>
                    </form>
                  </div>
    
                  <!-- Acodeoes -->
                  <div id="cards-solutions" class="accordion mt-3">
                    <div class="card">
                      <div class="card-header" id="heading">
                        <h5 class="mb-0 col-12">
                          <div class="row">
                            <div class="col-9"><button class="btn font-weight-bold" type="button" data-toggle="collapse"
                                data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                Audio Gourmet
                              </button></div>
              
                            <div class="col-3 pt-2 text-right"><span class="h6">R$ 1350</span></div>
                          </div>
                        </h5>
                      </div>
              
                      <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#cards-solutions">
                        <div class="card-body">

                          <!-- Inicio do FORM -->
                          <section id="content-section">
                            <div class="row">
                              <div class="col-12">

                                <!-- Begin Page Content -->
                                <div class="container-fluid">

                                  <!-- Page Heading -->
                                  <div>
                                    <form id="form-add-product">
                                      <div class="form-row">
                                        
                                        <div class="form-group col-3">
                                          <label for="input-product-category">Categoria</label>
                                          <select class="form-control" id="input-product-category" name="productCategory">
                                            
                                          </select>
                                        </div>

                                        <div class="form-group col-4">
                                          <label for="input-product-nickname">Equipamento</label>
                                          <select class="form-control" id="input-product-nickname" name="productNickname">
                                            
                                          </select>
                                        </div>

                                        <div class="form-group col-md-2 text-center">
                                          <label for="input-product-quantity">Quant</label>
                                          <input type="text" class="form-control" id="input-product-quantity" name="productQuantity">
                                        </div>
                                        
                                        <div class="form-group col-3">
                                          <button id="btn-add-product" type="submit" class="btn btn-dark mt-4">Adicionar</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>

                                </div>
                                <!-- /.container-fluid -->

                              </div>
                              <!-- End of Main Content -->

                            </div>
                          </section>
                          <!-- Fim do FORM -->

                        <table class="table table-hover col-12">
                          <thead>
                            <tr>
                              <th scope="row">Produto</th>
                              <th scope="col" class="text-center">Quant</th>
                              <th scope="col" class="text-right">Valor</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-solution">
                            <tr>
                              <td scope="row">Emissor IR</td>
                              <td scope="col" class="text-center">12</td>
                              <td scope="col" class="text-right">1350</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div>
    
                    <!-- fim acordeoes -->
                  </div>
                  <!-- /.container-fluid -->
    
                </div>
                <!-- End of Main Content -->
    
              </div>
          </section>
    
          <!-- Fim do FORM -->
    
        </div>
      </div>
    
      <!-- Float Button -->
      <div class="zoom">
        <a class="zoom-fab zoom-btn-large bg-dark text-light" id="zoom-btn-add-solutions">+</a>
      </div>
    
    </div>
    <!-- Solution Panel End-->

  </div>

  <!--Modal Form Customer-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-customers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastro do Cliente</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-customer">
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="input-name">Nome Completo</label>
                          <input type="text" class="form-control" id="input-name" name="name" placeholder="Nome Completo">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="input-cpf">CPF</label>
                          <input type="text" class="form-control" id="input-cpf" name="cpf" placeholder="Apenas Números">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="input-celular">Celular</label>
                          <input type="text" class="form-control" id="input-celular" name="celular" placeholder="Apenas número com DDD">
                        </div>
                        <div class="form-group col-md-8">
                          <label for="input-email">Email</label>
                          <input type="email" class="form-control" id="input-email" name="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-address">Endereço</label>
                        <input type="text" class="form-control" id="input-address" name="address"
                          placeholder="Logradouro / Número / Bairro">
                      </div>
                      <div class="form-group">
                        <label for="input-address-2">Complemento</label>
                        <input type="text" class="form-control" id="input-address-2" name="address2"
                          placeholder="Edifício / Apartamento / etc">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-5">
                          <label for="input-city">Cidade</label>
                          <input type="text" class="form-control" id="input-city" name="city" placeholder="Nome da cidade">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="input-state">Estado</label>
                          <select id="input-state" name="state" class="form-control">
                            <option selected>Escolha...</option>
                            <option>BA</option>
                            <option>PE</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="input-zip">CEP</label>
                          <input type="text" class="form-control" id="input-zip" name="zip" placeholder="Apenas números">
                        </div>
                      </div>
                      <div class="form-group">
                        <button id="btn-save-customer" type="submit" class="btn btn-dark mt-2">Salvar Cliente</button>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-success" data-dismiss="modal">
            Salvar
          </button> -->
        </div>

      </div>
    </div>
  </div>

  <!--Modal Form Proposal-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-proposal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastrar Proposta</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-proposal">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="input-proposal-name">Proposta</label>
                          <input type="text" class="form-control" id="input-proposal-name" name="proposalName" placeholder="Referência para proposta">
                        </div>
                        <div class="form-group col-4">
                          <label for="input-proposal-customer">Cliente</label>
                          <select class="form-control" id="input-proposal-customer" name="proposalCustomer">
                            
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <button id="btn-save-proposal" type="submit" class="btn btn-dark mt-4">Salvar Proposta</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <span class="col-12 text-center text-danger">Campo cliente é obrigatório.</span>
        </div>

      </div>
    </div>
  </div>

  <!--Modal Form Product-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-products" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastro de Produto</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-product">
                      <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="code-zafiro-product">Código Zafiro</label>
                          <input type="text" class="form-control" id="code-zafiro-product" name="codeZafiro" placeholder="Código Zafiro">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="code-manufacturer-product">Código Fabricante</label>
                          <input type="text" class="form-control" id="code-manufacturer-product" name="codeManufacture" placeholder="Código Fabricante">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="nickname-product">Nome Fantasia</label>
                          <input type="text" class="form-control" id="nickname-product" name="nickname" placeholder="Nome Fantasia">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="manufacture-product">Fabricante</label>
                          <select id="manufacture-product" name="manufacture" class="form-control">
                            <option selected>Escolha...</option>
                            <option></option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="category-product">Categoria</label>
                          <select id="category-product" name="category" class="form-control">
                            <option selected>Escolha...</option>
                            <option></option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="subcategory-product">Subcategoria</label>
                          <select id="subcategory-product" name="subcategory" class="form-control">
                            <option selected>Escolha...</option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="variant-one-product">Variante 1</label>
                          <input type="text" class="form-control" id="variant-two-product" name="variantOne" placeholder="Nome da cidade">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="variant-two-product">Variante 2</label>
                          <input type="text" class="form-control" id="variant-two-product" name="varianTwo" placeholder="Nome da cidade">
                        </div>
                      </div>
                      <div class="form-group">
                        <button id="btn-save-product" type="button" class="btn btn-dark mt-2">Salvar Produto</button>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-success" data-dismiss="modal">
            Salvar
          </button> -->
        </div>

      </div>
    </div>
  </div>

  <!--Modal Form Solution-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-solutions" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800" id="title-solution-proposal">Nova Solução</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-solution">
                      <div class="form-row">
                        <div class="form-group col-10">
                          <!-- <label for="input-solution-name">Nome da Solução</label> -->
                          <input type="text" class="form-control" id="input-solution-name" name="solutionName" placeholder="Referência para solução">
                        </div>
                        <div class="form-group col-2">
                          <button id="btn-save-solution" type="submit" class="btn btn-dark">Salvar</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <!-- <span class="col-12 text-center text-danger">Campo cliente é obrigatório.</span> -->
        </div>

      </div>
    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
  <!-- <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script> -->

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="/src/utils/Format.js"></script>
  <script src="/src/controller/ZController.js"></script>
  <script src="/src/index.js"></script>
</body>

</html>
