<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Rogerio Fabricio Developer">

  <title>.Z APP - Propostas</title>

  <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/dropbox-clone.css" rel="stylesheet">
  <style>

  </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm rounded">
    <h1 class="ml-5 text-light">.Z</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <div class="row">
        <div class="col-8 mx-5">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Cliente <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Propostas <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Produtos <span class="sr-only">(página atual)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container bg-light" style="min-height: 750px;">

    <!-- Customers Panel -->
    <div id="customers-panel" style="display: block;">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/person-outline.svg" alt="" width="32px" class="pb-2"/> Clientes</h1>

          <!-- Form Seach Customer -->
          <form class="mt-4">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="customer-name">Cliente</label>
                <input type="text" class="form-control mb-2" id="customer-name" placeholder="Cliente">
              </div>
              <div class="col-auto">
                <button type="submit"  id="btn-seach-customer" class="btn btn-primary mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Customer End -->

          <!-- Table Customers -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col" class="text-center">Celular</th>
                <th scope="col">Cidade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Marcos Padua</td>
                <td>marcos.padua@exemplo.com</td>
                <td class="text-center">71 99999 0000</td>
                <td>Salvador</td>
              </tr>
              <tr>
                <td>Ricardo Perrone</td>
                <td>ricardo.perrone@exemplo.com</td>
                <td class="text-center">71 99999 1111</td>
                <td>Vitória da Conquista</td>
              </tr>
              <tr>
                <td>Francisco Nogueira</td>
                <td>francisco.nogueira@exemplo.com</td>
                <td class="text-center">71 99999 2222</td>
                <td>Recife</td>
              </tr>
            </tbody>
          </table>
          <!-- Table Customers End -->

        </div>
      </div>
    </div>
    <!-- Customers Panel End -->

    <!-- Proposals Panel -->
    <div id="proposals-panel" style="display: block;">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/reader-outline.svg" alt="" width="32px" class="pb-2"/> Propostas</h1>

          <!-- Form Seach Proposal -->
          <form class="mt-4">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="Proposal-name">Proposta</label>
                <input type="text" class="form-control mb-2" id="Proposal-name" placeholder="Proposta">
              </div>
              <div class="col-auto">
                <button type="submit" id="btn-seach-proposal" class="btn btn-primary mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Proposal End -->

          <!-- Table Proposals -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Projeto</th>
                <th scope="col" class="text-center">Criado em</th>
                <th scope="col" class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Marcos Padua</td>
                <td>Praia do Forte</td>
                <td class="text-center">03/04/2020</td>
                <td class="text-right">R$ 120.000</td>
              </tr>
              <tr>
                <td>Ricardo Perrone</td>
                <td>Mansão Zafiro</td>
                <td class="text-center">22/01/2020</td>
                <td class="text-right">R$ 100.000</td>
              </tr>
            </tbody>
          </table>
          <!-- Table Proposals End -->

        </div>
      </div>
    </div>
    <!-- Proposals Panel End-->

    <!-- Products Panel -->
    <div id="products-panel" style="display: block;">
      <div class="row">
        <div class="col-12" style="margin-top: 80px;">
          <h1><img src="src/img/icons/cube-outline.svg" alt="" width="32px" class="pb-2"/> Produtos</h1>

          <!-- Form Seach Product -->
          <form class="mt-4">
            <div class="form-row align-items-center">
              <div class="col-10">
                <label class="sr-only" for="product-name">Produto</label>
                <input type="text" class="form-control mb-2" id="product-name" placeholder="Produto">
              </div>
              <div class="col-auto">
                <button type="submit" id="btn-seach-product" class="btn btn-primary mb-2">Buscar</button>
              </div>
            </div>
          </form>
          <!-- Form Seach Product End -->

          <!-- Table Proucts -->
          <table class="table table-hover col-11 mt-5">
            <thead>
              <tr>
                <th scope="col">Código Z</th>
                <th scope="col">Descrição</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">123456</th>
                <td>Módulo Dimmer 8ch</td>
                <td>Absolute</td>
                <td>R$ 2.000</td>
              </tr>
              <tr>
                <th scope="row">2123412</th>
                <td>Receiver NR-TX777</td>
                <td>Onkyo</td>
                <td>R$ 8.000</td>
              </tr>
              <tr>
                <th scope="row">3212342</th>
                <td>Host S2000</td>
                <td>Savant</td>
                <td>R$ 4.900</td>
              </tr>
            </tbody>
          </table>
          <!-- Table Products End -->

        </div>
      </div>
    </div>
    <!-- Products Panel End-->

  </div>

  <!--Modal Form Customer-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-customers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastro do Cliente</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-customer">
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="inputName">Nome Completo</label>
                          <input type="text" class="form-control" id="inputName" placeholder="Nome Completo">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputCpf">CPF</label>
                          <input type="text" class="form-control" id="inputCpf" placeholder="Apenas Números">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCelular">Celular</label>
                          <input type="text" class="form-control" id="inputCelular" placeholder="Apenas número com DDD">
                        </div>
                        <div class="form-group col-md-8">
                          <label for="inputEmail">Email</label>
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Endereço</label>
                        <input type="text" class="form-control" id="inputAddress"
                          placeholder="Logradouro / Número / Bairro">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Complemento</label>
                        <input type="text" class="form-control" id="inputAddress2"
                          placeholder="Edifício / Apartamento / etc">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Cidade</label>
                          <input type="text" class="form-control" id="inputCity" placeholder="Nome da cidade">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">Estado</label>
                          <select id="inputState" class="form-control">
                            <option selected>Escolha...</option>
                            <option>BA</option>
                            <option>PE</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputZip">CEP</label>
                          <input type="text" class="form-control" id="inputZip" placeholder="Apenas números">
                        </div>
                      </div>
                      <div class="form-group">
                        <button id="btn-save-customer" type="button" class="btn btn-success mt-2">Salvar Cliente</button>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-success" data-dismiss="modal">
            Salvar
          </button> -->
        </div>

      </div>
    </div>
  </div>

  <!--Modal Form Proposal-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-proposal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastrar Proposta</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-proposal">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputName">Proposta</label>
                          <input type="text" class="form-control" id="inputName" placeholder="Nome Completo">
                        </div>
                        <div class="form-group col-4">
                          <label for="formControlSelectCliente">Cliente</label>
                          <select class="form-control" id="formControlSelectCliente">
                            
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <button id="btn-save-proposal" type="button" class="btn btn-success mt-4">Salvar Proposta</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <span class="col-12 text-center text-danger">Campo cliente é obrigatório.</span>
        </div>

      </div>
    </div>
  </div>

  <!--Modal Form Product-->
  <div class="modal fade bd-example-modal-lg" id="modal-add-customers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="h3 mb-4 text-gray-800">Cadastro do Cliente</h1>
          <button type="button" class="btn-close-modal-add" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio do FORM -->

          <section id="content-section">
            <div class="row">
              <div class="col-12">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div>
                    <form id="form-add-customer">
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="inputName">Nome Completo</label>
                          <input type="text" class="form-control" id="inputName" placeholder="Nome Completo">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputCpf">CPF</label>
                          <input type="text" class="form-control" id="inputCpf" placeholder="Apenas Números">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCelular">Celular</label>
                          <input type="text" class="form-control" id="inputCelular" placeholder="Apenas número com DDD">
                        </div>
                        <div class="form-group col-md-8">
                          <label for="inputEmail">Email</label>
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Endereço</label>
                        <input type="text" class="form-control" id="inputAddress"
                          placeholder="Logradouro / Número / Bairro">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Complemento</label>
                        <input type="text" class="form-control" id="inputAddress2"
                          placeholder="Edifício / Apartamento / etc">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Cidade</label>
                          <input type="text" class="form-control" id="inputCity" placeholder="Nome da cidade">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">Estado</label>
                          <select id="inputState" class="form-control">
                            <option selected>Escolha...</option>
                            <option>BA</option>
                            <option>PE</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputZip">CEP</label>
                          <input type="text" class="form-control" id="inputZip" placeholder="Apenas números">
                        </div>
                      </div>
                      <div class="form-group">
                        <button id="btn-save-customer" type="button" class="btn btn-success mt-2">Salvar Cliente</button>
                    </form>
                  </div>

                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

            </div>
          </section>

          <!-- Fim do FORM -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-success" data-dismiss="modal">
            Salvar
          </button> -->
        </div>

      </div>
    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
  <!-- <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script> -->

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


  <script src="/src/controller/ZController.js"></script>
  <script src="/src/index.js"></script>
</body>

</html>
